<template>
  <div>
    {{ basket }}
    <router-link to="/">Каталог</router-link>

    <hr/>
    <div v-for="([id, count]) in Object.entries(basket)" v-show="Object.entries(basket).length">
      <div class="name">{{ items[id].title }}</div>
      <div class="price">{{ items[id].price }}</div>
      <div class="count">{{ count }}</div>
      <button @click="incrementItemToBasket(Number(id))">добавить товар</button>
      <button :disabled="typeof basket[id] === 'undefined'" @click="decrementItemFromBasket(Number(id))">Убрать товар
      </button>
    </div>
    <div v-show="!Object.entries(basket).length">
      Корзина пуста
    </div>
    <div class="finalPrice" v-show="Object.entries(basket).length">
      {{
        Math.floor(Object.entries(basket).reduce((acc, [id, count]) => {
          return acc += items[id].price * count
        }, 0))
      }}
    </div>
    <button class="confirmButton" v-show="Object.entries(basket).length" @click="isOpenConfirmPopup = true">Оформить
      заказ
    </button>
    <div class="confirmPopupBg" v-show="isOpenConfirmPopup" @click="isOpenConfirmPopup = false"></div>
    <div class="confirmPopup" v-show="isOpenConfirmPopup">Ваш заказ успешно оформлен
    <button  @click="isOpenConfirmPopup = false">Закрыть</button></div>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator'
import {userModule} from '~/store/userModule';

@Component({
  async asyncData() {
    if (Object.entries(userModule.items).length) {
      return
    }
    await userModule.loadItems()
    return {
      items: userModule.items,
    }
  }
})
export default class Basket extends Vue {
  get basket() {
    return userModule.basket
  }

  isOpenConfirmPopup = false

  items = {}

  incrementItemToBasket(id: number) {
    userModule.setIncrementedItemToBasket(id)
  }

  decrementItemFromBasket(id: number) {
    userModule.setDecrementedItemFromBasket(id)
  }

  mounted() {
    if (Object.entries(this.items).length === 0) {
      this.items = userModule.items
    }

    let storage = localStorage.getItem('basket') || "{}"
    console.log(storage)
    let basket = JSON.parse(storage)
    console.log(basket)
    userModule.setBasket(basket)
  }
}
</script>


<style scoped lang="scss">
.confirmPopupBg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: lavender;
  top: 0;
  left: 0;
}
.confirmPopup{
  width: 200px;
  height: 300px;
  border: 1px solid black;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
}
</style>
