<template>
  <div class="catalog" v-show="Object.entries(items).length">
    <div class="item" v-for="([id, item]) in Object.entries(items)">
      <div class="name">{{ item.title }}</div>
      <div class="price">{{ item.price }}</div>
      <router-link to="basket">в корзину</router-link>
      <button @click="incrementItemToBasket(Number(id))">добавить товар</button>
      <button :disabled="typeof basket[id] === 'undefined'" @click="decrementItemFromBasket(Number(id))">Убрать товар</button>
    </div>
    {{basket}}
  </div>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator'
import {userModule} from '~/store/userModule';

@Component({
  async asyncData() {
    await userModule.loadItems()
    return {
      items: userModule.items,
    }
  }
})
export default class Catalog extends Vue {
  items = {}

  get basket(){
    return userModule.basket
  }
  incrementItemToBasket(id: number){
    userModule.setIncrementedItemToBasket(id)
  }
  decrementItemFromBasket(id: number){
    userModule.setDecrementedItemFromBasket(id)
  }
  mounted(){
    let storage = localStorage.getItem('basket') || "{}"
    console.log(storage)
    let basket = JSON.parse(storage)
    console.log(basket)
    userModule.setBasket(basket)
  }

}
</script>

<style lang="scss">
body, #__nuxt, .catalog, #__layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
</style>
